<%= render partial: 'shared/heading', locals: { heading: 'User Categories' } %>

<div class="row row-cols-1 row-cols-md-3 g-4">
  <% @user_categories.each do |user_category| %>
    <div class="col">
      <div class="card border border-dark mb-3">
        <div class="card-header">
          <%= user_category.name %>
        </div>
        <%# <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
          <img src="https://mdbcdn.b-cdn.net/img/new/standard/nature/111.webp" class="img-fluid"/>
          <a href="#!">
            <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
          </a>
        </div> %>
        <div class="card-body">
          <h5 class="card-title"> Transaction Sum: <%= user_category.transactions.sum(:amount) %> </h5>
          <ul class="list-group list-group-light list-group-small">
            <li class="list-group-item px-4"> k </li>
          </ul>
        </div>
        <div class="card-footer bg-light px-3 d-flex justify-content-around">
          <%= link_to "Show", user_category_path(user_category), class:"card-link" %>
          <%= link_to "Edit", edit_user_category_path(user_category), class:"card-link" %>
          <%= link_to "Delete", user_category_path(user_category), method: :delete, class:"card-link", data: {
            confirm: 'Are you sure to delete this category?'
          } %>
        </div>
      </div>  
    </div>
  <% end %>
</div>