<h1 class="text-center"> <%= @expense_category.name %> </h1>

<div class="col-lg-12">
    <div class="card mt-5 mb-5 rounded-0">
        <div class="card-body">
            <h2 class="text-center">Listing Expense Sub Categories</h2>
        </div>
    </div>

    <%= link_to "New Expense Sub Category",new_category_expense_category_expense_sub_category_path(@user_category,@expense_category), class: "btn btn-primary btn-lg mb-4 rounded-0" %>

    <table class="table table-bordered">
        <thead>
            <tr>
                <th class="text-center">Name</th>
                <th class="text-center">Actions</th>
            </tr>
        </thead>
        <tbody>
            <% @expense_category.fetch_sub_categories(@user_category).each do |sub_category| %>
                <tr>
                    <td><%= sub_category.name %> </td>
                    <td>
                        <% if sub_category.user? %>
                          <%= link_to "Edit",edit_category_expense_category_expense_sub_category_path(@user_category,@expense_category,sub_category),class:"btn btn-primary btn-lg" %>
                          <%= link_to "Delete",category_expense_category_expense_sub_category_path(@user_category,@expense_category,sub_category), method: :delete,class:"btn btn-danger btn-lg", data: {
                              confirm: 'Are you sure to delete this Expense Sub Category?'
                          } %>
                        <% else %>
                          <h2 class="text-danger"> You cannot do any actions on pre-defined categories.
                        <% end %>
                    </td>
                </tr>
            <% end %>
        </tbody>
    </table>
</div>