<!DOCTYPE html>
<html>
  <head>
    <title>Cash Flo</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.2.0/mdb.min.css"
      rel="stylesheet"
    />
  </head>

  <body>

    <!--
    <% if user_signed_in?  %>
      <%= render partial:'shared/login_header' %>
    <% else %>
      <%= render partial:'shared/header' %>
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>

      <%= yield %>
    <% end  %>
    -->

    
    
    <script
      type="text/javascript"
      src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.2.0/mdb.min.js"
    ></script>
  </body>
</html>


<div class="fixed-bottom d-flex justify-content-end mr-2 pr-3 pb-3">
  <%= link_to new_transaction_path, class:"btn btn-success rounded-circle shadow-lg" do %>
    <i class="fas fa-plus"></i>
  <% end %>
</div>