<div class="form-group">
  <%= text_field_tag :category, @category.name, class:"form-control", readonly:true %>
  <div class="input-group-append">
    <%= link_to "Save", "#", class:"btn btn-success", id:"save-btn", style:"display:none;" %>
    <%= link_to "Cancel", "#", class:"btn btn-danger", id:"cancel-btn", style:"display:none;" %>
  </div>
</div>
<br/>
<div class="d-flex justify-content-around mb-4">
  <%= link_to "Edit Category", "#", class:"btn btn-primary",remote: :true, id:'edit-btn' %>
  <%= link_to "Delete Category", category_path(@category), method: :delete, class:"btn btn-danger" %>
</div>
<h1 class="text-center">Transactions</h1>
<table class="table align-middle mb-0 bg-white">
  <thead class="bg-light">
    <tr>
      <th>Type</th>
      <th>Amount</th>
      <th>Expense Category</th>
      <th>Title</th>
      <th>Status</th>
      <th>Mode</th>
      <th>Description</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @transactions.each do |transaction| %>
      <tr>
        <td>
          <%= transaction.type.name %>
            <%# <img
                src="https://mdbootstrap.com/img/new/avatars/8.jpg"
                alt=""
                style="width: 45px; height: 45px"
                class="rounded-circle"
                /> %>
        </td>
        <td>
          <div class="d-flex align-items-center">
            <div class="ms-3">
              <p class="fw-bold mb-1"><%= transaction.amount %></p>
              <%# <p class="text-muted mb-0">john.doe@gmail.com</p> %>
            </div>
          </div>
        </td>
        <td>
          <p class="fw-normal mb-1">Software engineer</p>
          <p class="text-muted mb-0">IT department</p>
        </td>
        <td><%= transaction.title %></td>
        <td>
          <% if transaction.status.name=="Complete" %>
            <span class="badge badge-success rounded-pill d-inline">Complete</span>
          <% elsif transaction.status.name=="Pending" %>
            <span class="badge badge-warning rounded-pill d-inline">Pending</span>
          <% else  %>
            <span class="badge badge-primary rounded-pill d-inline">Incomplete</span>
          <% end %>
        </td>
        <td><%= transaction.mode.name %></td>
        <td><%= transaction.description %></td>
        <td>
          <%= link_to "Edit",root_path, class:"btn btn-link btn-sm btn-rounded" %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
