<%= form_with model:transaction do |form| %>
  <div class="row">
    <div class="col-md-4 mb-4">
      <div class="form-outline">
        <%= form.text_field :title, autofocus: true, class:"form-control form-control-lg" %>
        <%= form.label :title, class:"form-label" %>
      </div>
    </div>  

    <div class="col-md-4 mb-4">
      <div class="form-outline">
        <% if type == "Expense" %>
          <%= form.text_field :receiver_name, autofocus: true, class:"form-control form-control-lg" %>
          <%= form.label :receiver_name, "Payee", class:"form-label" %>
        <% elsif type == "Income" %>
          <%= form.text_field :payer_name, autofocus: true, class:"form-control form-control-lg" %>
          <%= form.label :payer_name, "Payer", class:"form-label" %>
        <% end %>
      </div>
    </div>

    <div class="col-md-4 mb-4"> 
      <div class="form-outline">
        <%= form.text_field :amount, autofocus: true, class:"form-control form-control-lg" %>
        <%= form.label :amount, class:"form-label" %>
      </div>
    </div>

    <div class="col-md-4 mb-4">
          <%= form.label :type, class:"form-label" %>
          <%= form.text_field :type, autofocus: true, class:"form-control form-control-lg", value: type , readonly:true %>
    </div>

    <div class="col-md-4 mb-4">
        <%= form.label :status_id, class:"form-label" %>
        <%= form.select :status_id, options_for_select(@status_options), { prompt: 'Select Status' }, class:'form-control form-control-lg' %>
    </div>

    <div class="col-md-4 mb-4">
        <%= form.label :mode_id, class:"form-label" %>
        <%= form.select :mode_id, options_for_select(@modes_options),{ prompt: 'Select Mode' }, class:'form-control form-control-lg' %>
    </div>

    <div class="col-md-4 mb-4">
        <%= form.label :user_category_id, class:"form-label" %>
        <%= form.select :user_category_id, options_for_select( @user_categories_options ), { prompt: 'Select User Category' }, class:'form-control form-control-lg' %>
    </div>

    <div class="col-md-4 mb-4">
        <%= form.label :expense_category, class:"form-label" %>
        <%= form.select :expense_category_main_id, options_for_select( "None" ), { prompt: 'Select Expense Category' }, class:'form-control form-control-lg' %>
    </div>

    <div class="col-md-4 mb-4">
        <%= form.label :expense_sub_category, class:"form-label" %>
        <%= form.select :expense_category_id, options_for_select( "None" ), { prompt: 'Select Expense Sub-Category' }, class:'form-control form-control-lg' %>
    </div>
  </div>

  <div class="row mb-4 mb-4">
    <div class="col-md-12">
      <div class="form-outline">
        <%= form.text_area :description, autofocus: true, class:"form-control form-control-lg" %>
        <%= form.label :description, class:"form-label" %>
      </div>
    </div>
  </div>

  <div class="row mb-4 mb-4">
    <div class="col d-flex justify-content-center">
      <div>
        <%= form.button class:"btn btn-success btn-block btn-rounded shadow btn-lg" %>
      </div>
    </div>
  </div>
<% end %>


<script>
  $(document).ready(function(){
    $('#transaction_user_category_id').on('change',function(){
      let user_category = $(this).val();

      if (user_category){
        $.ajax({
          url: '/transactions/user_category/' + user_category,
          type: 'GET',
          dataType: 'json',
          success: function(data){
            var options ='';
            $.each(data, function(index, value){
                options += '<option value="' + value.id + '">' + value.name + '</option>';
            });
            $('#transaction_expense_category_main_id').html('<option value="">Select Expense Category</option>'+options);
          }, 
          error: function(xhr, textStatus, errorThrown) {
            console.log('Error fetching options: ' + errorThrown);
          }
        });
      }else{
        $('#transaction_expense_category_main_id').html('<option value="">Select Expense Category</option>');
        $('#transaction_expense_category_id').html('<option value=" ">Select Expense Sub-Category</option>');
      }
    });
    $('#transaction_expense_category_main_id').on('change',function(){
      let expense_category = $(this).val();
      let user_category = $('#transaction_user_category_id').val();

      if (expense_category){
        $.ajax({
          url: '/transactions/user_category/'+ user_category +'/expense_category/' + expense_category,
          type: 'GET',
          dataType: 'json',
          success: function(data){
            var options ='';
            $.each(data, function(index, value){
                options += '<option value="' + value.id + '">' + value.name + '</option>';
            });
            $('#transaction_expense_category_id').html('<option value=" ">Select Expense Sub-Category</option>'+options);
          }, 
          error: function(xhr, textStatus, errorThrown) {
            console.log('Error fetching options: ' + errorThrown);
          }
        });
      }else{
        $('#transaction_expense_category_id').html('<option value=" ">Select Expense Sub-Category</option>');
      }
    });
  });
</script>