<%= render partial:'shared/heading', locals:{ heading:"Expense Transactions" } %>
<%= link_to "New Expense", new_transaction_path(type: "Expense"), class: "btn btn-primary btn-lg mb-4" %>
<div class="table-responsive">
  <table class="table align-middle mb-0 bg-white table-hover">
    <thead class="table-dark">
      <tr>
        <th>Title</th>
        <th>Amount</th>
        <th>Receiver Name</th>
        <th>User Category</th>
        <th>Expense Category</th>
        <th>Status</th>
        <th>Mode</th>
        <th>Time</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <% @expenses_by_date.each do |date, expenses| %>
        <tr>
          <td colspan="4"></td>
          <td class="text-primary"> <strong> <%= date %> </strong> </td>
          <td colspan="4"></td>
        </tr>
        <% expenses.each do |expense| %>
          <tr>
            <td>
              <p class="fw-normal mb-1"> <%= expense.title.nil? ? expense.title : "_"  %> </p>
            </td>
            <td>
              <p class="fw-normal mb-1"> <%= expense.amount %> </p>
            </td>
            <td>
              <p class="fw-normal mb-1"> <%= expense.receiver_name.nil? ? expense.receiver_name : "_" %> </p>
            </td>
            <td>
              <p class="fw-normal mb-1"> <%= expense.user_category.name %> </p>
            </td>
            <td>
              <p class="fw-normal mb-1"> <%= expense.expense_category.category.name %> </p>
              <p class="text-muted mb-0"> <%= expense.expense_category.name %> </p>
            </td>
            <td>
              <% if expense.status.name == "Complete" %>
                <span class="badge badge-success rounded-pill d-inline"> <%= expense.status.name %> </span>
              <% else %>
                <span class="badge badge-danger rounded-pill d-inline"> <%= expense.status.name %> </span>
              <% end %>
            </td>
            <td>
              <p class="fw-normal mb-1"> <%= expense.mode.name %> </p>
            </td>
            <td>
              <p class="fw-normal mb-1"> <%= expense.created_at.to_time.strftime("%H:%M") %> </p>
            </td>
            <td>
              <%= link_to "Edit", edit_transaction_path(expense,type:"expense"), class:"btn btn-link btn-rounded btn-sm fw-bold px-3" %>
              <%= link_to "Destroy", transaction_path(expense), method: :delete, class:"btn btn-link btn-rounded btn-sm fw-bold px-3", data: {
                  confirm: 'Are you sure to delete this Expense Transaction?'
              } %>
            </td>
          </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>
</div>